.moudle_tab1{ width:1002px; background:#f0f0f0; border-collapse:collapse; margin:0 auto;}
.moudle_tab1 td{ height:36px; padding-left:10px; border:1px #cdcdcd solid;}
.moudle_tab1 caption { text-align:left; background:#4eb4d2; color:#FFFFFF; font-size:14px; padding:10px; font-weight:bold;}

.pop-box { 
/*z-index: 9999; /*这个数值要足够大，才能够显示在最上层*/ 
margin-bottom: 3px; 
display: none; 
position: absolute; 
padding-top: 0px;
background: #FFF; 
border:solid 1px #6e8bde; 
} 

.pop-box  .tit { 
margin: 0px; 
color: #FFF; 
cursor:default; 
height: 18px; 
font-size: 14px; 
font-weight:bold; 
text-align: left; 
padding-left: 8px; 
padding-top: 4px; 
padding-bottom: 2px; 
border:1px soild red;
/*position: relative;*/
/*width:100%;*/
top:0px;
left:0px;
/**background: url("header.jpg") repeat-x 0 0; */
background-color:#3160A6;
} 
.tittext{
float:left;

}
.shutbut{
border:0px;
/*position: relative;
right:2px;*/
width:20px;
height:20px;
margin: 0px;
padding:0px;
float:right;
cursor:pointer; 
}

.pop-box-body { 
clear: both; 
margin: 4px; 
padding: 2px; 
}
